<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Choose Game Mode</title>
</head>
<body>
    <h1>Choose Game Mode</h1>
    <form th:action="@{/startGame}" method="post">
        <input type="radio" id="local" name="mode" value="LOCAL_PLAY" checked>
        <label for="local">Local Play</label><br>
        <input type="radio" id="ai" name="mode" value="AI_PLAY">
        <label for="ai">AI Play</label><br><br>
        <button type="submit">Start Game</button>
    </form>
</body>
</html>